<!-- IF not $INCLUDED_WOLFSBLVTCORE_FUNCTIONSGLOBALJS -->
	<!-- INCLUDEJS js/jquery_wolfsblvt_functions/functions_global.js -->
	<!-- DEFINE $INCLUDED_WOLFSBLVTCORE_FUNCTIONSGLOBALJS = true -->
<!-- ENDIF -->

<!-- IF not $INCLUDED_WOLFSBLVTCORE_ONLOADGLOBALJS -->
	<!-- INCLUDEJS js/jquery_wolfsblvt_functions/onload_global.js -->
	<!-- DEFINE $INCLUDED_WOLFSBLVTCORE_ONLOADGLOBALJS = true -->
<!-- ENDIF -->





<!-- IF not $INCLUDED_JQUERYUICSS -->
	<link href="{T_EXT_CORE_THEME_PATH}/jquery-ui.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet" type="text/css" media="screen, projection" />
	<link href="{T_EXT_CORE_THEME_PATH}/jquery-ui.structure.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet" type="text/css" media="screen, projection" />
	<link href="{T_EXT_CORE_THEME_PATH}/jquery-ui.theme.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet" type="text/css" media="screen, projection" />
	<!-- DEFINE $INCLUDED_JQUERYUICSS = true -->
<!-- ENDIF -->