<!-- IF not $INCLUDED_JQUERYCOOKIEJS -->
    <!-- INCLUDEJS js/jquery_cookie/jquery.cookie.js -->
    <!-- DEFINE $INCLUDED_JQUERYCOOKIEJS = true -->
<!-- ENDIF -->

<!-- IF not $INCLUDED_JQUERYUIJS -->
    <!-- INCLUDEJS js/jquery_ui/jquery-ui.min.js -->
    <!-- DEFINE $INCLUDED_JQUERYUIJS = true -->
<!-- ENDIF -->

<!-- IF not $INCLUDED_WOLFSBLVTCORE_STARTUPGLOBALJS -->
    <!-- INCLUDEJS js/jquery_wolfsblvt_functions/startup_global.js -->
    <!-- DEFINE $INCLUDED_WOLFSBLVTCORE_STARTUPGLOBALJS = true -->
<!-- ENDIF -->